<?xml version="1.0"?>

<model>
    <name>Custom Model</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Sowon</name>
        <email>ggp05066@gmail.com</email>
    </author>

    <description>
        A custom object model
    </description>
</model>